@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-500 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('/fonts/poppins-v20-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins-v20-latin-500.woff')
			format('woff'); /* Modern Browsers */
}

/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/fonts/poppins-v20-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/poppins-v20-latin-700.woff')
			format('woff'); /* Modern Browsers */
}

/* sfprodisplay - 700 */
@font-face {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/fonts/sfprodisplay-700.woff') format('woff'); /* Modern Browsers */
}

/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/inter-v12-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('/fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	font-family: 'Poppins';
}

.or:before,
.or:after {
	background: #d1d1d6;
	height: 1px;
	flex: 1;
	content: '';
}

/* hide and style radio buttons - for household assignment */
[type='radio'] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
[type='radio']:checked + span,
[type='radio']:checked + div {
	outline: 4px solid #eea1c5;
	border-radius: 9999px;
}
